h1 {
  font-family: 'Arial', cursive;
  line-height: 1.1;
  color: #FF2055;
}

h2 {
  font-family: 'Arial', cursive;
  line-height: 1.1;
  color: #FF2055;
}

h3 {
  font-family: 'Arial', cursive;
  line-height: 1.1;
  color: #FF2055;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #FFFF00;
  background: url('Property_002.jpg') 0 0;
}

a, a * {color: #2d648a; text-decoration: none; outline: none;}
a:hover {color: #c34c28; text-decoration: underline;}
a:hover span {text-decoration: none;}
a img {border: 0;}

.help-block {
  font-weight: bold;
  color: #3300FF;
}

.control-label {
  color: #FF00FF;
}

li a {
  font-weight: bold;
  color: #FFFF00;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
}

tbody {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4AA02C;
}
